 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
         background-color: rgb(2, 2, 56);
    color: #fff;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{text-align: center;}
 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 60px;
}

.playboard {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
     
    margin-bottom: 20px;
}

.cells {
    font-size: 30px;
    border: 1px solid white;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
}

.editor div {
    background: #fff;
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}