 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(2, 2, 56);
    color: #fff;
    position: relative;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 40px;
    width: 100%;
    background-color: #1e1c1c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 0px;
}

.hamberger {
    display: none;
    justify-items: end;
    padding-right: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #1e1c1c;
    color: rgb(142, 138, 121);
    transition: color 0.3s ease;
}
#ham {
    display: none;
}



ul {
    list-style: none;
}
li {
    opacity: 1;

    font-size: 15px;
    color: rgb(253, 255, 253);

    padding: 0px 5px;
}

.user {
    font-size: 20px;
    color: blue;
}
.title {
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
}
 /*.........................................*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    position: relative;
    margin-top: 60px;
}

.playboard {
    display: grid;
    grid-template-columns: repeat(9, 60px); /* 9 columns */
    grid-template-rows: repeat(10, 60px);   /* 9 for board + 1 for buttons */
    gap: 1px;
}

.cellid {
    display: none;
}

.cells {
    font-size: 30px;
    border: 1px solid rgb(33, 83, 96);
    width: 60px;
    height: 60px;
    font-weight: bold;
}
 
.editor {
    grid-column: 1 / -1; /* span all 9 columns */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2px;
    margin-top: 10px;
}

.nums {
    font-size: 24px;
    padding: 16px 10px;
    background-color: #003300;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color .5s,color .2s;
     border-radius: 5px;
}
.nums:active{
    background-color: #017c01;
    color: rgb(60, 56, 56);
    border-radius: 10px;
}
.message{
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
position: absolute;
background-color:#999;
border: 2px solid yellow;
    border-radius: 20px;
}
.message p{
    padding: 5px;
}
.message p:nth-child(1){font-size: 30px;color: rgb(62, 81, 154);font-weight: 600;}
.message p:nth-child(2){font-size: 20px;color: rgb(129, 73, 168);font-weight: 600;}
.message p:nth-child(3){font-size: 30px;color: rgb(218, 80, 80);font-weight: 600;}
.message button{
    color: rgb(83, 54, 54);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.hidden{
    display: none;
}

@media (max-width:600px){
    .hamberger {
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2;
  }

  .navbar {
    display: none;
  }

  #ham:checked ~ .navbar {
    display: grid;
    position: absolute;
    top: -10px;
    width: 100%;
    background-color: #1e1c1c;
    z-index: 1;
  }

  .hamberger:hover {
    color: green;
  }
.container{
    min-height: 40vh;
    margin-top: 10px;
}
    .playboard {
    display: grid;
    grid-template-columns: repeat(9, 46px); /* 9 columns */
    grid-template-rows: repeat(10, 46px);   /* 9 for board + 1 for buttons */
    gap: 1px;
    margin-top: 90px;
}

    .cells{
        font-size: 40px;
        width:45px;
        height: 45px;
        padding: 3px;
         color: rgb(255, 255, 255);
         text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000;
         
    }
    .nums{
        font-size: 30px;
    }

}

