{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
     <link rel="stylesheet" href="{% static 'register.css' %}">
    
</head>
<body>
  

 

 
  <div class="form">
        <form class="register-form" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <h2 class="register-title">REGISTER</h2>
            {% if form.errors %}
                <div class="error">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <h4 class="user-label ">{{ form.username.label }}</h4>
          <h4 class="user-input">  {{ form.username }}</h4>
            <h4 class="email-label">{{ form.email.label }}</h4>
           <h4 class="email-input"> {{ form.email }}</h4>
            <h4 class="pass-label1">{{ form.password1.label }}</h4>
            <h4 class="pass-input1">{{ form.password1 }}</h4>
            <h4 class="pass-label2">{{ form.password2.label }}</h4>
            <h4 class="pass-input2">{{ form.password2 }}</h4>
            <button type="submit">Create</button>
            <p class="message">Already registered? <a href="{% url 'login' %}">Log In</a></p>
        </form>
    </div>
 
</body>
</html>