{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Word Search</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>
        <div class="mainbox">
            <div class="navbar">
                <div class="items flex-center user">
                    {% if user.is_authenticated %}{{ user | upper}} {% else %} ?
                    {% endif %}
                </div>
                <div class="items flex-center title">Word Search</div>
                <div class="items flex-center links">
                    <ul>
                      
                        <li><a href="{% url 'user' %}">Home</a></li>
                     
                        
                         
                    </ul>
                </div>
            </div>
            <input type="checkbox" name="ham" id="ham" />
            <label for="ham" class="hamberger">&#8803;</label>

            <div class="puzzlebox">
                <!----------------------------------------------------plaground---------------------------->
                <div class="playground">
                    <form class="container" method="POST">
                        {% csrf_token %} {% for char in chars %}

                        <input
                            type="checkbox"
                            name="characters"
                            id="id{{char.index}}"
                            class="charinput"
                            value="{{char}}{{char.index}}"
                        />
                        <label
                            for="id{{char.index}}"
                            class="char{{char.index}} flex-center"
                            style="color:{% if char.char_checked %} {{char.char_color}}  {% else %}rgb(2, 122, 4) {% endif %};"
                            >{{char | upper}}</label
                        >

                        {% endfor %}
                        
                        <button type="submit">
                            {% if puzzle.inProgress %} Check{% else %} Start 
                            {% endif %}
                        </button>
                       
                    </form>
                </div>

                <!-----------------------------------palyground-------------------------------------->
                <div class="wordlist">
                    {% for word in words %}
                    <div class="word" 
                    style="color:{% if word.word_checked %} green {%  else  %} white {% endif %}"
                    >{{word | upper}}</div>
                    {% endfor %}
                </div>
            </div>
             <div class="{% if  puzzle.grid_checked %} time-taken {% else %} hidden {% endif %}" >
                <p >Congradulations!</p>
                <p> Compleated in</p>           
               <p >  <span style="color:red;font-weight:bold;">{{time_taken}}</span> minuts</p>
                        </div>
        </div>
        <script src="{% static 'wordsearch/script.js' %}"></script>
    </body>
</html>
