@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    color: #999;
    font-family: 'Poppins', sans-serif;
}


.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.masterbox{
    flex-direction: row;
      gap: 20px;
}

.mainbox{
  padding: 10px 0px;
    border: 2px solid white;
    flex-wrap: wrap;
    transform: scale(.9);
}

.container{
      height: 700px;
    width: 600px;
    flex-wrap: wrap;
    
}

label{
    border: 1px solid gray;
    color: green;
    height: 54px;
    width: 45px;
     font-weight: bold;
     font-size: 40px;
     transition: background-color .2s,font-size .3s;
}
label:hover{
    background-color: #455667;
    font-size: 43px;
}

.charinput{
   display: none;
}

 button{
    padding: 4px 5px;
    background-color: green;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    transition:  background-color .3s,font-size .3s;
 }
 button:hover{
    background-color: rgb(39, 95, 39);
     color: #0ff;
     
 }

 .words{
    flex-direction: column;

}
.word{
    width: 400px;
    font-size:40px;
    font-weight: 800;
    color: yellow;
   
    text-align: center;
    border-radius: 20px;
    transition: backgoround-color .3s;
}

 

.start-form{
 opacity: 1;
    position: absolute;
    
}
.start {
    padding: 20px;
    border: 5px dotted blue;
    box-shadow: 30px 30px 100px ,-30px -30px 100px #0ff;
}

.hidden{
    display: none;
}
 .start-button{
    padding: 50px;
    box-shadow: 40px 40px 100px gray,-40px -40px 100px gray;
    font-weight: bold;
 }





 @media screen and (max-width:600px){
    h2{
        font-size: 20px;
    }
    .masterbox{
        flex-direction: column;
         margin: -140px 10px;
    }
    .mainbox{
        transform: scale(.6);
        margin: 0px;
    }
    .words{
        margin-top: -50px;
        flex-direction: row;
        flex-wrap: wrap;
        transform: scale(.5);
         
    }
    .word{
    width: 200px;  
}
 }

  @media screen and (max-width:1000px){
    h2{
        font-size: 30px;
    }
    .masterbox{
         
        margin-top: -70px;
        gap: 0px;
    }
    .mainbox{
        transform: scale(.8);
        margin: 0px;
    }
    .words{
transform: scale(.8);
    }
      .word{
    width: 200px;  
}
 
 }
