{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'sudoku.css' %}" />
    </head>
    <body>
           
        <div class="container">
       <div class=" {% if puzzle.is_solved %}message {% else %} hidden {% endif %}">
             <p> PUZZLE  :{{puzzle.id}}</p>
            <p> Solved in </p>
            <p>{{time_taken}} Minuts!</p>
           <form method="post">
            {% csrf_token %}
              <button type="submit" name="start-new" value="1">Start New</button>

           </form>
           </div>
            <form class="playboard" method="post" action="{% url 'sudoku' %}">
                {% csrf_token %} {% for cell in cells %}
                <input
                    type="radio"
                    name="selected"
                    id="cell-id-{{cell.cell_index}}"
                    class="cellid"
                    value="{{cell.cell_index}}"
                />
                <label for="cell-id-{{cell.cell_index}}" class="cells flexbox"
                    ><p class="cv">{{ cell.cell_value|default:"." }}</p></label
                >

                {% endfor %}

                <div class="editor">
                    {% for num in "123456789" %}
                    <button
                        type="submit"
                        name="number"
                        value="{{num}}"
                        class="nums flexbox nums{{num}}"
                        value="{{num}}"
                    >
                        {{ num }}
                    </button>
                    {% endfor %}
                </div>
            </form>
        </div>
        <script src="{% static 'sudokuapp/sud_script.js' %}"></script>
    </body>

</html>
